docstring_parser==0.16
dotenv==0.9.9
edge-tts==7.0.2
Flask==3.1.1
flask-cors==5.0.1
google-ai-generativelanguage==0.6.18
google-api-core==2.24.2
google-auth==2.40.1
google-cloud-pubsub==2.29.0
google-cloud-speech==2.32.0
google-cloud-texttospeech==2.27.0
google-crc32c==1.7.1
google-genai==1.15.0
googleapis-common-protos==1.70.0
googletrans==4.0.2
langchain==0.3.25
langchain-core==0.3.59
langchain-google==0.1.1
langchain-google-genai==2.1.4
langchain-text-splitters==0.3.8
langsmith==0.3.42
livekit==1.0.7
livekit-agents==1.0.22
livekit-api==1.0.2
livekit-plugins-cartesia==1.0.22
livekit-plugins-deepgram==1.0.22
livekit-plugins-google==1.0.22
livekit-plugins-noise-cancellation==0.2.4
livekit-plugins-openai==1.0.22
livekit-plugins-silero==1.0.22
livekit-plugins-turn-detector==1.0.22
livekit-protocol==1.0.3
llvmlite==0.44.0
numpy==2.2.5
uvicorn==0.34.2
